
.cards {
  width: 30%;
  margin: 20px auto;
  color: white;
  background: #343a40!important;
  /* box-shadow: 20px 8px 20px grey; */
  box-shadow: 0px 0px 20px 10px grey;
      -webkit-transition:  box-shadow .2s ease-in;
      opacity: .8;
  display:block;
  border-radius: 25px;
  }




  .cards:hover{ 
       /* box-shadow: 30px 8px 30px grey; */
       box-shadow: 0px 0px 0px 5px grey;
      -webkit-transition:  box-shadow .2s ease-in;
      opacity: .8;
    }

/**Body text*/
.title {
    text-align: center;
}

/* .cards:nth-of-type(6n-5){
  
 opacity: .5;
}

.cards:nth-of-type(6n-5):hover{ 
  opacity: 1;
} */


ul{
  list-style-type: none;
  margin-right: 5%
}

li{
  margin-top: 2%;
}

.imageLogo {
  width: 10%;
  margin: 110px 45% 50px 45%
}


@media screen and (max-width: 600px) {
  
  .title {
    font-size: .7em;
  } 

}

@media screen and (max-width: 600px) {
  padding: 0px;

}