


  .imag {
    width:6%;
    margin: 5% 47%;
  }
  


  @media only screen and (max-width: 1100px) {

    .imag {
      width:10%;
      margin: 10% 45%;

    }
  
  
  }




  @media only screen and (max-width: 900px) {

    .imag {
      width:10%;
      margin: 10% 45%;
      
    }


  
  }

  @media only screen and (max-width: 600px) {
    .imag {
        width:14%;
        margin: 10% 43%;
        
      }
  }

