


  
  
  .flex {
    display: flex;
    flex-direction: column;
  }

  .titles {
    text-align: center;
    margin-top: 20px;
}


.form {
    width: 40%;
    margin: 5% 30% ;
}

@media only screen and (max-width: 650px) {
    .form {
        width: 80%;
        margin: 5% 10% ;
    }

}