.splash_screen {
  font-size: 25px;
  position: relative;
  height: 100%;
  margin-left: 40%;
  margin-top: 10%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.graphsContainer {
  background-color:#343a40!important;
  width: 100%;
  height: 30%;
  display: flex;
  flex: 1;
}

.container {
  width: 90%;
  display: flex;
  flex: 1;
  margin-left: 5%;
  position: absolute;
  z-index: 999;
  /*margin-top: 20%;*/
}



.counter {
  color:red;
  font-size: 2.0em;
  width: 10%;
  position: absolute;
  z-index: 999;
  margin-top: 11%;
  margin-left: 10%;
}

@media screen and (max-width: 600px) {
    
  .graphsContainer {
    background-color:#343a40!important;
    width: 100%;
    height: 30%;
    display: block;
  }

  .container {
    display: flex;
    flex: 1;
    position: absolute;
    z-index: 999;
  }
  
}





