/* 
.btns {
    text-align: center;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
}

.bg {
    height: 800px;
    /*background-color: slategray;*/
    /* background-image: url("https://image.freepik.com/free-vector/bathroom-empty-room-vector_23-2147495085.jpg") */
 

.container {
    display: flex;
    background-color: #9ea4bd;

  }
  .container > h3 {
    color: white;
    margin-top: 2%;
    flex: 1; /*grow*/
    text-align: center;
    
  }

  .container > h4 {
    margin: 3% auto;
    flex: 1; /*grow*/
    text-align: center;
    color: green;
    font-size: 40px;
    
  }



  /* @media only screen and (max-width: 600px) {
    .btns {
        text-align: center;
        position: absolute;
        margin-top: 20%;
        margin-left: 5%;
        margin-Right: 5%;
    }
  } */


  /*
  Bathroom images to play with 
  https://thumbs.dreamstime.com/z/very-dirty-bathroom-scene-illustration-very-dirty-bathroom-scene-124392236.jpg
  https://thumbs.dreamstime.com/z/maid-cleaning-dirty-bathroom-maid-cleaning-dirty-bathroom-illustration-119209131.jpg
  https://thumbs.dreamstime.com/z/bathroom-sink-mirror-flat-style-vector-illustration-55549409.jpg
  
  */

  .button {
  
    width:14%;
    margin: 1% 43% 0 43%;
    
    cursor: pointer;
 
    transition: all .6s ease-in-out;
  }

  .rug {

    width:18%;
    margin: 0 41% 9% 41%;

  }
  
  
  .button:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }


  @media only screen and (max-width: 1100px) {

    .button {
      width:30%;
      margin: auto 35%;

    }

    .rug {

      width:30%;
      margin: 0 35% 8% 35%;
  
    }
  
  
  }




  @media only screen and (max-width: 900px) {

    .button {
      width:36%;
      margin: 8% 32% 0 32%;
      
    }

    .rug {

      width:36%;
      margin: 0 32% 8% 32%;
  
    }

    .container > h3 {
     font-size: 20px
      
    }
  

    .container > h4 {
 
      font-size: 28px;
    }
  
  }



  @media only screen and (max-width: 600px) {

    .button {
      width:50%;
      margin: 13% 25% 0 25%;

    }

    .rug {

      width:70%;
      margin: 0 15% 12% 15%;
  
    }
    .container > h3 {
      font-size: 16px
       
     }


    .container > h4 {
 
      font-size: 28px;
    }
  
  }