.map {
    position: relative;
    top:0;
    bottom: 0;
    width:100%; 
    height: 66vh;
}


@media screen and (max-width: 600px) {
    .map {
        position: relative;
        top:0;
        bottom: 0;
        width:100vw; 
        height: 60vh;
    }
  }
