.container {
    margin-Left: 25%;
    margin-right: 25%;
    width: 50%;
}

.smodalTitle {
    text-align: center;
    font-size: 1.25em;
}


.images {
    box-shadow: 0px 0px 20px 10px grey;
    -webkit-transition:  box-shadow .2s ease-in;
    opacity: .8;
    display:block;
    border-radius: 5px;
}

.images:hover{ 
    box-shadow: 0px 0px 0px 5px grey;
    -webkit-transition:  box-shadow .2s ease-in;
    opacity: .8;
 }


 @media only screen and (max-width: 600px) {

    .container {
        margin-Left: 15%;
        width: 70%;
        margin-right: 15%
    }    
  
  }