.bar {
    position: absolute;
}

.navbar {
  width:auto;
}

.logo {
    cursor: pointer;
    transition: all .4s ease-in-out;
    animation: logo 2.5s infinite;
  } @keyframes logo {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
 
  
.logo:hover {
    animation: none;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
  }


  .fart {
    position: relative;
    margin-top: 10%;
    margin-left:3.5%;
    -webkit-animation: slideIn 1.5s forwards;
    -moz-animation: slideIn 1.5s forwards;
    animation: slideIn 1.5s forwards, fade 2.5s infinite;
  }
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }    
  }
  @keyframes fade {
    0%,100% { opacity: 0 }
    80% { opacity: 1 }
  }

/*
.fart {
    margin-top:10%;
    margin-left:2%;
    position: relative;
    opacity: 1;
    animation: fade 2.4s infinite;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  80% { opacity: 1 }
}
*/

