.splash {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash > img {
    margin-top: 50%;
    margin-left: 25%;
    height: 30%;
    width: 50%
 }

 .iconText {
     color: white;
     margin: auto;
     text-align: center
 }