

.special_modal .modal-content{
    background-color: #000;
    color: #fff;
 }


 .modal {
    background-image: url("https://cdn3.vectorstock.com/i/thumb-large/91/87/pattern-with-toilet-paper-vector-22439187.jpg");
  }

  .btn {
    width: 80px;
    height: 80px;
    margin: 5% 42%;
    border-radius: 50%;
    font-size: 15px;
  }
